.container {
	width: 90%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em 4em;
}

.subContainerTitle {
	grid-column: 1/4;
	color: var(--text-orange);
	font-weight: 700;
}

.subContainer {
	display: flex;
	flex-direction: column;
	gap: 1em;
}
