.container {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.tabContainer {
	width: fit-content;
	border: 1px solid var(--text-orange);
	border-radius: 20px;
	display: flex;
}

.tab {
	user-select: none;
	cursor: pointer;
	padding: 0.4em 0.8em;
	color: white;
}

.tabActive {
	border-radius: 20px;
	background-color: var(--text-orange);
	font-weight: 700;
}

.searchContainer {
	display: flex;
	justify-content: space-between;
}

.searchContainerLeft {
	display: flex;
	gap: 2em;
}

.searchWrapper {
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 0.8em;
}

.text {
	color: white;
	line-height: 2;
	font-size: 0.9rem;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-content: center;
}
