.container {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.searchContainer {
	/* background-color: red; */
	height: 2rem;
}

.flexContainer {
	display: flex;
	justify-content: space-between;
}

.searchContainerLeft {
	display: flex;
	gap: 2em;
}

.searchWrapper {
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 0.8em;
}

.text {
	/* background-color: blue; */
	color: white;
	font-size: 0.9rem;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
}
