.container {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.25em;
	width: calc(var(--container-padding-right) - 1rem);
	background-color: #2f2f41;
	max-height: 8rem;
	padding: 0.75em 0em;
	text-align: center;
	font-size: 0.7rem;
	overflow: hidden;
}

.container:hover {
	filter: brightness(90%);
}

.text {
	color: white;
	font-weight: 400;
	transition: scale 200ms ease;
}

.icon {
	width: 40%;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	background-color: #727288;
	font-size: 2rem;
	color: var(--text-orange);
	transition: scale 200ms ease;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container:hover .icon {
	scale: 1.1;
}
.container:hover .text {
	scale: 1.05;
}
