.container {
	width: 70%;
	height: 80%;
	margin: auto;
	margin-bottom: 1em;
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	gap: 1em;
	color: white;
	font-size: 0.9rem;
}

.first,
.second,
.third {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.8em;
	padding: 0 1em;
	border-radius: 9px;
	background-color: #2b2b3f;
}

.first {
	grid-row: 1/4;
	/* background-color: blue; */
}

.second {
	grid-column: 1/2;
	grid-row: 4/6;
	/* background-color: red; */
}

.third {
	grid-column: 2/3;
	grid-row: 1/6;
	padding: 2em;
}

.title {
	color: var(--text-orange);
	font-size: 1rem;
	font-weight: 700;
}

.image {
	width: 100px;
	aspect-ratio: 1/1;
	background-color: pink;
	border-radius: 50%;
}

.fullWidthContainer {
	color: white;
	display: flex;
	justify-content: space-between;
}

.inputContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.8em;
}

.label {
	font-weight: 700;
}
