.container {
	width: 100%;
	height: 100%;
	padding-top: var(--container-padding-top);
	padding-right: var(--container-padding-right);
	padding-left: var(--container-padding-left);
	padding-bottom: var(--container-padding-bottom);
	background-color: var(--background-black);
	position: relative;
}

.topRightContainer {
	height: var(--container-padding-top);
	position: absolute;
	top: 0;
	right: 0;
	padding: 1rem 0;
	z-index: 1000;
	display: flex;
	justify-content: flex-end;
	padding-right: calc(0.5 * var(--container-padding-right));
	gap: 1rem;
}

.language {
	width: 130px;
	height: 100%;
	background-color: chartreuse;
}

.user {
	--user-width: 200px;
	--avatar-width: 35px;
	height: 100%;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.avatar {
	width: var(--avatar-width);
	aspect-ratio: 1 / 1;
	background-color: deeppink;
	border-radius: 50%;
}

.user div:nth-child(2) {
	display: flex;
	flex-direction: column;
}

.name {
	color: white;
	font-size: 1.1rem;
	font-weight: 700;
}

.role {
	color: var(--text-orange);
}
