.container {
	position: absolute;
	top: 0;
	right: 0;
	width: var(--container-padding-right);
	height: 100%;
	/* background-color: crimson; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.group {
	border-radius: var(--border-radius) 0 0 var(--border-radius);
	overflow: hidden;
	width: calc(100% - 1rem);
}
