.container {
	display: flex;
	gap: 3em;
	justify-content: center;
	width: 100%;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	--border-radius: 5px;
	display: inline-block;
	padding: 0.5em 4em;
	border-radius: var(--border-radius);
	border: 2px solid var(--text-orange);
}

.primary {
	background-color: var(--text-orange);
	color: white;
}

.default {
	color: var(--text-orange);
}
