.container {
	width: 90%;
	height: 90%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 4em;
	margin-bottom: 1em;
	font-size: 0.8rem;
}

.subContainerTitle {
	height: fit-content;
	grid-column: 1/4;
	color: var(--text-orange);
	display: flex;
	align-items: flex-start;
	font-size: 1.1rem;
	font-weight: 700;
}

.subContainer {
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.container .subContainer:nth-child(n + 3) {
	gap: 0;
	justify-content: space-between;
}
