.container {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 2fr 8fr;
	gap: var(--gap);
}

.containerLeft {
	--text-box-bg: #535353;
	--text-box-outline-color: #dedede;
	--border-radius: 5px;
	display: flex;
	flex-direction: column;
}

.dividers {
	border-top: 0.1px solid rgb(255, 255, 255, 0.05);
	margin-block: 1em;
}

.containerRight {
}

.title {
	color: white;
	font-weight: 700;
	font-size: 1.1rem;
}

.titleTop {
	margin-bottom: 0.5em;
}

.textBox {
	width: 100%;
	color: white;
	background-color: var(--text-box-bg) !important;
	border-radius: var(--border-radius) !important;
	border: none;
}

.input {
	padding-inline: 0.5rem;
	height: 2rem;
}

.textArea {
	height: calc(3rem * 1.6);
	resize: none;
	padding: 0.5rem;
}

.input:focus,
.textArea:focus {
	outline: 2px solid var(--text-box-outline-color);
}
