.container {
	height: 100vh;
	width: 100%;
	background-color: var(--background-black);
	display: grid;
	grid-template-columns: var(--menu-width) calc(100% - var(--menu-width));
}

.menuContainer {
	width: var(--menu-width);
	height: 100%;
	background-color: var(--menu-background);
}

.contentContainer {
	height: 100%;
	overflow: auto;
}
