.container {
	height: 80%;
	background-color: #2b2b3f;
	border-radius: 15px;
	padding: 1em;
	display: flex;
	flex-direction: column;
	gap: 2em;
	color: white;
	margin-bottom: 2em;
}

.subHeading {
	font-size: 1.3rem;
	font-weight: 700;
}

.radio {
	font-weight: 700;
}

.description {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-top: 1em;
	margin-bottom: 2em;
	margin-left: 1.5em;
}

.buttonContainer {
	display: flex;
	justify-content: center;
}

.button {
	cursor: pointer;
	color: white;
	background-color: #ff7506;
	padding: 0.7em 5em;
	border-radius: 7px;
	transition: scale 250ms ease;
}

.button:hover {
	scale: 1.1;
}
