@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
	--background-black: #1e1e2e;
	--menu-background: #020220;
	--table-background: rgba(47, 47, 65, 0.7);
	--text-orange: #ff7506;
	--menu-width: calc(100vw / 24 * 2);
	--container-padding-top: 3rem;
	--container-padding-right: 6rem;
	--container-padding-left: 2rem;
	--container-padding-bottom: 2rem;
	--border-radius: 3px;
	--heading-font-size: 2rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: "Montserrat" !important;
}

body {
	margin: 0;
}

.ant-table {
	border-radius: 0px !important;
}

.ant-table-thead > tr > :where(th:first-child) {
	border-start-start-radius: 15px !important;
}

.ant-table-thead > tr > :where(th:last-child) {
	border-start-end-radius: 15px !important;
}

.ant-table-pagination {
	margin: 0 !important;
	padding: 0.5em 0;
	background-color: var(--table-background);
}

.ant-pagination-item-active {
	border: none !important;
}

.ant-menu-item-selected::before,
.ant-menu-submenu-selected .ant-menu-submenu-title::before {
	content: "";
	height: 100%;
	background-color: var(--text-orange);
	width: 3px;
	position: absolute;
	left: 0;
}

.ant-input,
.ant-picker-input,
.ant-select {
	line-height: 1 !important;
}

.ant-select-selection-search {
	line-height: 3 !important;
}

.ant-select-item-option-selected {
	color: black;
}
