:root {
	--background-black: #1e1e2e;
	--menu-background: #020220;
	--table-background: rgba(47, 47, 65, 0.7);
	--text-orange: #ff7506;
	--menu-width: calc(100vw / 24 * 2);
	--container-padding-top: 4rem;
	--container-padding-right: 4.5rem;
	--container-padding-left: 2rem;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.ant-table-pagination {
	margin: 0 !important;
	padding: 0.5em 0;
	background-color: var(--table-background);
}

.ant-pagination-item-active {
	border: none !important;
}
