.heading {
	color: white;
	font-size: var(--heading-font-size);
	font-weight: 700;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.content {
	height: 100%;
	/* background-color: darkkhaki; */
}
